@import "../node_modules/antd/dist/antd.less";

.ant-picker {
  width: 100% !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splitScreen {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.parentScreen:after {
  content: "";
  display: table;
  clear: both;
}

.site-layout .site-layout-background {
  background: #fff;
}
