/*-----------------------------------------------------------------------------------

    Template Name: Consult - Business Consultancy Agency Template
    Template URI: uideck.com
    Description: Consult - Business Consultancy Agency Template
    Author: Uideck
    Author URI: https://uideck.com/
    Support: https://uideck.com/support/
    Version: 1.0

-----------------------------------------------------------------------------------

    CSS INDEX
    ===================

    01.COMMON
    02.HEADER
    03.ABOUT
    04.GALLERY
    05.SERVICE
    06.PRICING
    07.TESTIMONIAL
    08.BRAND
    09.BL0G
    10.CONTACT
    11.FOOTER
    12.PAGE BANNER
    13.BL0G DETAILS

-----------------------------------------------------------------------------------*/
/*===========================
    01.COMMON css 
===========================*/
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700,800&display=swap");
body {
  font-family: "Nunito", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #798795;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #404040;
  margin: 0px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #798795;
  margin: 0px;
  font-family: "Nunito", sans-serif;
}

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid #f14836;
  padding: 0 30px;
  font-size: 16px;
  height: 55px;
  line-height: 51px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background-color: #f14836;
}
.main-btn:hover {
  background-color: rgba(241, 72, 54, 0.3);
  color: #f14836;
  border-color: #f14836;
}
.main-btn.main-btn-2 {
  background-color: #fff;
  color: #f14836;
  border-color: #f14836;
}
.main-btn.main-btn-2:hover {
  background-color: rgba(241, 72, 54, 0.3);
  border-color: #f14836;
}

/*===== All Section Title Style =====*/
.section-title .sub-title {
  font-size: 18px;
  font-weight: 400;
  color: #f14836;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .section-title .sub-title {
    font-size: 16px;
  }
}
.section-title .title {
  font-size: 32px;
  padding-top: 10px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-title .title {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .section-title .title {
    font-size: 24px;
  }
}
.section-title .title span {
  font-weight: 400;
  display: contents;
}

/*===== All Slick Slide Outline Style =====*/
.slick-slide {
  outline: 0;
}

/*===== All Preloader Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: #fff;
  z-index: 99999;
}
.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.preloader .loader .ytp-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}
.preloader .loader .ytp-spinner .ytp-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  -moz-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  -o-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
}
.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -moz-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -o-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
}
.preloader
  .loader
  .ytp-spinner
  .ytp-spinner-container
  .ytp-spinner-rotator
  .ytp-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}
.preloader
  .loader
  .ytp-spinner
  .ytp-spinner-container
  .ytp-spinner-rotator
  .ytp-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}
.preloader .loader .ytp-spinner-circle {
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  /* Spinner Color */
  border-color: #f14836 #f14836 #dedede4f;
  border-radius: 50%;
  border-width: 6px;
}
.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #dedede4f;
  -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -moz-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -o-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
}
.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #dedede4f;
  -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  -moz-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  -o-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}
@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}
@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}
@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}
/*===========================
      02.HEADER css 
===========================*/
/*===== NAVBAR =====*/
.navbar-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--not-top {
  transform: translateY(0%);
  position: fixed;
  z-index: 99;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.headroom--not-top .navbar {
  padding: 10px 0;
}

.headroom--unpinned {
  transform: translateY(-100%);
}

.navbar {
  padding: 25px 0;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar-brand {
  padding: 0;
}

.navbar-toggler {
  padding: 0;
}
.navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #222;
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}
.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}
.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}
@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 12px;
  }
}

.navbar-nav .nav-item {
  margin-left: 40px;
  position: relative;
}
.navbar-nav .nav-item:first-child {
  margin-left: 0;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav .nav-item {
    margin-left: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item {
    margin: 0;
  }
}
.navbar-nav .nav-item a {
  font-size: 16px;
  font-weight: 900;
  color: #222;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 10px 0;
  position: relative;
  font-family: "Nunito", sans-serif;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
  }
}
.navbar-nav .nav-item.active > a,
.navbar-nav .nav-item:hover > a {
  color: #f14836;
}
.navbar-nav .nav-item:hover .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}
.navbar-nav .nav-item .sub-menu {
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}
.navbar-nav .nav-item .sub-menu li {
  display: block;
}
.navbar-nav .nav-item .sub-menu li a {
  display: block;
  padding: 8px 20px;
}
.navbar-nav .nav-item .sub-menu li a.active,
.navbar-nav .nav-item .sub-menu li a:hover {
  padding-left: 25px;
  color: #f14836;
}
.navbar-nav .sub-nav-toggler {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 767px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}
.navbar-nav .sub-nav-toggler span {
  width: 8px;
  height: 8px;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: -5px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-btn {
    position: absolute;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media (max-width: 767px) {
  .navbar-btn {
    position: absolute;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media (max-width: 767px) {
  .navbar-btn .main-btn {
    height: 40px;
    line-height: 36px;
    font-size: 13px;
    padding: 0 20px;
  }
}

/*===== HEADER HERO =====*/
.header-hero {
  height: 800px;
  position: relative;
}
@media only screen and (min-width: 1400px) {
  .header-hero {
    height: 990px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero {
    height: auto;
  }
}
@media (max-width: 767px) {
  .header-hero {
    height: auto;
  }
}

.header-hero-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 47%;
  height: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero-image {
    width: 720px;
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .header-hero-image {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-hero-image {
    width: 540px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero-image .image img {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero-content {
    padding-top: 150px;
  }
}
@media (max-width: 767px) {
  .header-hero-content {
    padding-top: 150px;
  }
}
.header-hero-content .hero-title {
  font-size: 60px;
  font-weight: 400;
  color: #000;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-hero-content .hero-title {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .header-hero-content .hero-title {
    font-size: 28px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-hero-content .hero-title {
    font-size: 34px;
  }
}
.header-hero-content .hero-title b {
  font-weight: 700;
}
.header-hero-content .hero-title span {
  color: #f14836;
  display: contents;
}
.header-hero-content .text {
  max-width: 490px;
  font-size: 16px;
  padding-top: 40px;
}
.header-hero-content .header-singup {
  position: relative;
  margin-top: 120px;
  z-index: 9;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-hero-content .header-singup {
    margin-top: 60px;
  }
}
@media (max-width: 767px) {
  .header-hero-content .header-singup {
    margin-top: 60px;
  }
}
.header-hero-content .header-singup input {
  width: 100%;
  height: 70px;
  font-size: 24px;
  border: 0;
  border-radius: 50px;
  padding: 0 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
}
@media (max-width: 767px) {
  .header-hero-content .header-singup input {
    height: 56px;
  }
}
.header-hero-content .header-singup .main-btn {
  position: relative;
  top: 3px;
  right: 3px;
  height: 64px;
  line-height: 60px;
  padding: 0 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .header-hero-content .header-singup .main-btn {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 56px;
    line-height: 52px;
    margin-top: 10px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-hero-content .header-singup .main-btn {
    position: relative;
    top: 3px;
    right: 3px;
    width: auto;
    height: 50px;
    line-height: 46px;
    margin-top: 0;
  }
}

/*===========================
        03.ABOUT css 
===========================*/
.about-title .welcome {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #f14836;
  font-family: "Nunito", sans-serif;
}
@media (max-width: 767px) {
  .about-title .welcome {
    font-size: 16px;
  }
}
.about-title .title {
  padding-top: 10px;
  font-weight: 400;
  font-size: 32px;
}
@media (max-width: 767px) {
  .about-title .title {
    font-size: 24px;
  }
}
.about-title .title span {
  font-weight: 700;
}

.single-counter .counter-shape {
  width: 55px;
}
.single-counter .counter-shape .shape-1,
.single-counter .counter-shape .shape-2 {
  width: 14px;
  height: 70px;
  position: relative;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
  left: 12px;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-counter .counter-shape .shape-1,
  .single-counter .counter-shape .shape-2 {
    width: 10px;
  }
}
.single-counter .counter-shape .shape-1::before,
.single-counter .counter-shape .shape-1::after,
.single-counter .counter-shape .shape-2::before,
.single-counter .counter-shape .shape-2::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: -1px;
  right: -1px;
  border-top: 12px solid #fff;
  border-left: 16px solid transparent;
}
.single-counter .counter-shape .shape-1::after,
.single-counter .counter-shape .shape-2::after {
  border-top: 0;
  border-bottom: 6px solid #fff;
  top: auto;
  bottom: -1px;
}
.single-counter .counter-shape .shape-1 {
  opacity: 0.5;
  left: 15px;
  bottom: 1px;
}
.single-counter .counter-content {
  padding-left: 10px;
}
.single-counter .counter-content .counter-count {
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  color: #222;
  font-family: "Nunito", sans-serif;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-counter .counter-content .counter-count {
    font-size: 32px;
  }
}
.single-counter .counter-content .text {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}
.single-counter.counter-color-1 .counter-shape .shape-1,
.single-counter.counter-color-1 .counter-shape .shape-2 {
  background: -webkit-linear-gradient(left, #1cbe99 0%, #05de7d 100%);
  background: -o-linear-gradient(left, #1cbe99 0%, #05de7d 100%);
  background: linear-gradient(to right, #1cbe99 0%, #05de7d 100%);
}
.single-counter.counter-color-2 .counter-shape .shape-1,
.single-counter.counter-color-2 .counter-shape .shape-2 {
  background: -webkit-linear-gradient(left, #3e2cea 0%, #4bb3f9 100%);
  background: -o-linear-gradient(left, #3e2cea 0%, #4bb3f9 100%);
  background: linear-gradient(to right, #3e2cea 0%, #4bb3f9 100%);
}
.single-counter.counter-color-3 .counter-shape .shape-1,
.single-counter.counter-color-3 .counter-shape .shape-2 {
  background: -webkit-linear-gradient(left, #f14836 0%, #ff9387 100%);
  background: -o-linear-gradient(left, #f14836 0%, #ff9387 100%);
  background: linear-gradient(to right, #f14836 0%, #ff9387 100%);
}
.single-counter.counter-color-4 .counter-shape .shape-1,
.single-counter.counter-color-4 .counter-shape .shape-2 {
  background-color: #f23559;
}
.single-counter.counter-color-5 .counter-shape .shape-1,
.single-counter.counter-color-5 .counter-shape .shape-2 {
  background-color: #164aa9;
}

/*===== ABOUT 2 =====*/
.about-content-2 .about-line {
  padding-top: 10px;
}
.about-content-2 .about-line li {
  height: 5px;
  background-color: #fde4e1;
  display: inline-block;
  border-radius: 50px;
  margin-right: 3px;
}
.about-content-2 .about-line li:nth-of-type(1) {
  width: 40px;
}
.about-content-2 .about-line li:nth-of-type(2) {
  width: 15px;
}
.about-content-2 .about-line li:nth-of-type(3) {
  width: 10px;
}
.about-content-2 .about-line li:nth-of-type(4) {
  width: 5px;
}
.about-content-2 .text {
  padding-top: 15px;
}

/*===========================
       04.GALLERY css 
===========================*/
.single-gallery {
  position: relative;
}
.single-gallery .gallery-image img {
  width: 100%;
}
.single-gallery .gallery-icon a {
  background-color: #f14836;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -o-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-gallery .gallery-icon a {
    width: 80px;
    height: 80px;
  }
}
.single-gallery .gallery-icon a span {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-gallery .gallery-icon a span {
    width: 30px;
    height: 30px;
  }
}
.single-gallery .gallery-icon a span::before,
.single-gallery .gallery-icon a span::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.single-gallery .gallery-icon a span::after {
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.single-gallery:hover .gallery-icon a {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

/*===== Project Masonry =====*/
.project-menu ul li {
  display: inline-block;
  font-size: 16px;
  color: #798795;
  margin-left: 50px;
  cursor: pointer;
  position: relative;
  padding-bottom: 3px;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .project-menu ul li {
    margin: 10px 15px 0;
  }
}
.project-menu ul li:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .project-menu ul li:first-child {
    margin: 10px 15px 0;
  }
}
.project-menu ul li::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #798795;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.project-menu ul li:hover::before,
.project-menu ul li.active::before {
  width: 100%;
}

.gallery-masonry {
  border-radius: 7px;
  overflow: hidden;
}

/*===========================
      05.SERVICE css 
===========================*/
.service-wrapper {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.single-service {
  padding: 65px 20px 30px;
  position: relative;
}
.single-service.service-border {
  border-left: 1px solid #dedede4f;
  border-right: 1px solid #dedede4f;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-service.service-border {
    border: 0;
  }
}
@media (max-width: 767px) {
  .single-service.service-border {
    border: 0;
  }
}
.single-service .service-content {
  padding-left: 25px;
}
.single-service .service-content .service-title {
  font-size: 18px;
}
.single-service .service-content .text {
  margin-top: 15px;
}
.single-service .shape {
  position: absolute;
}
.single-service .shape.shape-1 {
  left: 35px;
  bottom: -50px;
  -webkit-animation: rotated 15s infinite linear;
  -moz-animation: rotated 15s infinite linear;
  -o-animation: rotated 15s infinite linear;
  animation: rotated 15s infinite linear;
}
.single-service .shape.shape-2 {
  top: 20px;
  right: 85px;
  -webkit-animation: animationFramesOne 10s infinite linear;
  -moz-animation: animationFramesOne 10s infinite linear;
  -o-animation: animationFramesOne 10s infinite linear;
  animation: animationFramesOne 10s infinite linear;
}
.single-service .shape.shape-3 {
  left: 100px;
  bottom: -10px;
  -webkit-animation: rotated 15s infinite linear;
  -moz-animation: rotated 15s infinite linear;
  -o-animation: rotated 15s infinite linear;
  animation: rotated 15s infinite linear;
}
.single-service .shape.shape-4 {
  left: 30px;
  top: 10px;
  -webkit-animation: rotated 15s infinite linear;
  -moz-animation: rotated 15s infinite linear;
  -o-animation: rotated 15s infinite linear;
  animation: rotated 15s infinite linear;
}
.single-service .shape.shape-5 {
  right: 100px;
  bottom: -40px;
  -webkit-animation: animationFramesTwo 10s infinite linear;
  -moz-animation: animationFramesTwo 10s infinite linear;
  -o-animation: animationFramesTwo 10s infinite linear;
  animation: animationFramesTwo 10s infinite linear;
}

@-webkit-keyframes rotated {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotated {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
    -moz-transform: translate(73px, -1px) rotate(36deg);
    -ms-transform: translate(73px, -1px) rotate(36deg);
    -o-transform: translate(73px, -1px) rotate(36deg);
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
    -moz-transform: translate(141px, 72px) rotate(72deg);
    -ms-transform: translate(141px, 72px) rotate(72deg);
    -o-transform: translate(141px, 72px) rotate(72deg);
    transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
    -moz-transform: translate(83px, 122px) rotate(108deg);
    -ms-transform: translate(83px, 122px) rotate(108deg);
    -o-transform: translate(83px, 122px) rotate(108deg);
    transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
    -moz-transform: translate(-40px, 72px) rotate(144deg);
    -ms-transform: translate(-40px, 72px) rotate(144deg);
    -o-transform: translate(-40px, 72px) rotate(144deg);
    transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@-webkit-keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
    -moz-transform: translate(73px, -1px) rotate(36deg);
    -ms-transform: translate(73px, -1px) rotate(36deg);
    -o-transform: translate(73px, -1px) rotate(36deg);
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
    -moz-transform: translate(141px, 72px) rotate(72deg);
    -ms-transform: translate(141px, 72px) rotate(72deg);
    -o-transform: translate(141px, 72px) rotate(72deg);
    transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
    -moz-transform: translate(83px, 122px) rotate(108deg);
    -ms-transform: translate(83px, 122px) rotate(108deg);
    -o-transform: translate(83px, 122px) rotate(108deg);
    transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
    -moz-transform: translate(-40px, 72px) rotate(144deg);
    -ms-transform: translate(-40px, 72px) rotate(144deg);
    -o-transform: translate(-40px, 72px) rotate(144deg);
    transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes animationFramesTwo {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-73px, 1px) rotate(36deg);
    -moz-transform: translate(-73px, 1px) rotate(36deg);
    -ms-transform: translate(-73px, 1px) rotate(36deg);
    -o-transform: translate(-73px, 1px) rotate(36deg);
    transform: translate(-73px, 1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(-141px, -72px) rotate(72deg);
    -moz-transform: translate(-141px, -72px) rotate(72deg);
    -ms-transform: translate(-141px, -72px) rotate(72deg);
    -o-transform: translate(-141px, -72px) rotate(72deg);
    transform: translate(-141px, -72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(-83px, -122px) rotate(108deg);
    -moz-transform: translate(-83px, -122px) rotate(108deg);
    -ms-transform: translate(-83px, -122px) rotate(108deg);
    -o-transform: translate(-83px, -122px) rotate(108deg);
    transform: translate(-83px, -122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(40px, -72px) rotate(144deg);
    -moz-transform: translate(40px, -72px) rotate(144deg);
    -ms-transform: translate(40px, -72px) rotate(144deg);
    -o-transform: translate(40px, -72px) rotate(144deg);
    transform: translate(40px, -72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@-webkit-keyframes animationFramesTwo {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(-73px, 1px) rotate(36deg);
    -moz-transform: translate(-73px, 1px) rotate(36deg);
    -ms-transform: translate(-73px, 1px) rotate(36deg);
    -o-transform: translate(-73px, 1px) rotate(36deg);
    transform: translate(-73px, 1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(-141px, -72px) rotate(72deg);
    -moz-transform: translate(-141px, -72px) rotate(72deg);
    -ms-transform: translate(-141px, -72px) rotate(72deg);
    -o-transform: translate(-141px, -72px) rotate(72deg);
    transform: translate(-141px, -72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(-83px, -122px) rotate(108deg);
    -moz-transform: translate(-83px, -122px) rotate(108deg);
    -ms-transform: translate(-83px, -122px) rotate(108deg);
    -o-transform: translate(-83px, -122px) rotate(108deg);
    transform: translate(-83px, -122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(40px, -72px) rotate(144deg);
    -moz-transform: translate(40px, -72px) rotate(144deg);
    -ms-transform: translate(40px, -72px) rotate(144deg);
    -o-transform: translate(40px, -72px) rotate(144deg);
    transform: translate(40px, -72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
    -moz-transform: translate(0px, 0px) rotate(0deg);
    -ms-transform: translate(0px, 0px) rotate(0deg);
    -o-transform: translate(0px, 0px) rotate(0deg);
    transform: translate(0px, 0px) rotate(0deg);
  }
}
/*===== OUR SERVICE =====*/
.our-services-tab .nav {
  border-bottom: 2px solid #dedede4f;
}
@media (max-width: 767px) {
  .our-services-tab .nav {
    border-bottom: 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .our-services-tab .nav {
    border-bottom: 2px solid #dedede4f;
  }
}
@media (max-width: 767px) {
  .our-services-tab .nav .nav-item {
    width: 50%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .our-services-tab .nav .nav-item {
    width: auto;
  }
}
.our-services-tab .nav .nav-item a {
  color: #798795;
  padding: 17px 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .our-services-tab .nav .nav-item a {
    padding: 17px 15px;
  }
}
@media (max-width: 767px) {
  .our-services-tab .nav .nav-item a {
    padding: 17px 15px;
    border-bottom: 2px solid #dedede4f;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .our-services-tab .nav .nav-item a {
    padding: 17px 10px;
    border-bottom: 0;
  }
}
.our-services-tab .nav .nav-item a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #f14836;
  left: 0;
  bottom: -2px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.our-services-tab .nav .nav-item a i {
  font-size: 50px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .our-services-tab .nav .nav-item a i {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .our-services-tab .nav .nav-item a i {
    font-size: 34px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .our-services-tab .nav .nav-item a i {
    font-size: 28px;
  }
}
.our-services-tab .nav .nav-item a span {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  padding-left: 15px;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .our-services-tab .nav .nav-item a span {
    padding-left: 10px;
  }
}
.our-services-tab .nav .nav-item a.active {
  color: #f14836;
}
.our-services-tab .nav .nav-item a.active::before {
  opacity: 1;
}
.our-services-tab .our-services-content .services-title {
  font-size: 40px;
}
@media (max-width: 767px) {
  .our-services-tab .our-services-content .services-title {
    font-size: 22px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .our-services-tab .our-services-content .services-title {
    font-size: 26px;
  }
}
.our-services-tab .our-services-content .services-title span {
  font-weight: 400;
  display: contents;
}
.our-services-tab .our-services-content .text {
  margin-top: 35px;
}
.our-services-tab .our-services-content .our-services-progress .circles-text {
  font-size: 24px !important;
  font-weight: 700;
  color: #222;
  font-family: "Nunito", sans-serif;
}
.our-services-tab
  .our-services-content
  .our-services-progress
  .progress-content {
  padding-left: 30px;
}
.our-services-tab
  .our-services-content
  .our-services-progress
  .progress-content
  .progress-title {
  font-size: 18px;
}

/*===== SERVICE 2 =====*/
.single-service-2 .service-icon {
  margin-top: 5px;
}
.single-service-2 .service-icon i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px dashed #f14836;
  font-size: 36px;
  color: #f14836;
}
.single-service-2 .service-content {
  padding-left: 30px;
}
.single-service-2 .service-content .title a {
  font-weight: 600;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  color: #222;
}
.single-service-2 .service-content .text {
  padding-top: 20px;
}

/*===== SERVICE 3 =====*/
.services-3 {
  border-top: 1px solid #dedede4f;
}

.single-service-3 .service-icon {
  display: inline-block;
  position: relative;
}
.single-service-3 .service-icon i {
  font-size: 40px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.single-service-3 .service-content {
  padding-top: 45px;
}
.single-service-3 .service-content .service-title a {
  font-size: 24px;
  font-weight: 700;
  color: #222;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single-service-3 .service-content .service-title a:hover {
  color: #f14836;
}
.single-service-3 .service-content .text {
  padding-top: 15px;
}
.single-service-3 .service-content .more {
  color: #798795;
  font-size: 36px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  margin-top: 30px;
}
.single-service-3 .service-content .more:hover {
  color: #f14836;
}

/*===========================
       06.PRICING css 
===========================*/
.single-pricing {
  padding: 65px 50px 70px;
}
@media (max-width: 767px) {
  .single-pricing {
    padding: 45px 30px 50px;
  }
}
.single-pricing .pricing-price .price {
  font-size: 42px;
  color: #222;
  font-family: "Nunito", sans-serif;
}
.single-pricing .pricing-price .price b {
  font-weight: 800;
}
.single-pricing .pricing-price .price .symbol {
  font-size: 18px;
  color: #f14836;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}
.single-pricing .pricing-title {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  border-bottom: 1px solid #dedede4f;
  padding-bottom: 50px;
}
.single-pricing .pricing-title .btn {
  padding: 0 15px;
  line-height: 25px;
  border-radius: 50px;
  background-color: #4bb3f9;
  color: #fff;
  font-size: 14px;
}
.single-pricing .pricing-title .title {
  font-weight: 600;
  font-size: 24px;
  font-family: "Nunito", sans-serif;
  padding-left: 10px;
}
.single-pricing .pricing-list ul li {
  font-size: 14px;
  color: #798795;
  margin-top: 20px;
}
.single-pricing .pricing-btn .main-btn {
  text-transform: uppercase;
}
.single-pricing .pricing-btn .main-btn.main-btn-2 {
  border-color: transparent;
  color: #222;
}
.single-pricing.pricing-color-1 .pricing-title .btn {
  background-color: #4bb3f9;
}
.single-pricing.pricing-color-2 .pricing-title .btn {
  background-color: #f14836;
}
.single-pricing.pricing-color-3 .pricing-title .btn {
  background-color: #63b85f;
}
.single-pricing.pricing-active {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
}

/*===========================
       07.TESTIMONIAL css 
===========================*/
.testimonial-left-content .testimonial-line {
  padding-top: 10px;
}
.testimonial-left-content .testimonial-line li {
  height: 5px;
  background-color: #fde4e1;
  display: inline-block;
  border-radius: 50px;
  margin-right: 3px;
}
.testimonial-left-content .testimonial-line li:nth-of-type(1) {
  width: 40px;
}
.testimonial-left-content .testimonial-line li:nth-of-type(2) {
  width: 15px;
}
.testimonial-left-content .testimonial-line li:nth-of-type(3) {
  width: 10px;
}
.testimonial-left-content .testimonial-line li:nth-of-type(4) {
  width: 5px;
}
.testimonial-left-content .text {
  padding-top: 15px;
}

.testimonial-right-content {
  position: relative;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 30px 70px 0px rgba(0, 0, 0, 0.07);
  border-radius: 50px;
  max-width: 500px;
  padding-top: 50px;
}
.testimonial-right-content .quota {
  position: absolute;
  top: 10px;
  left: 15px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 0.1;
}
.testimonial-right-content .quota i {
  font-size: 130px;
  line-height: 95px;
  color: #f14836;
}

.testimonial-content-wrapper {
  position: relative;
  left: 70px;
}
@media (max-width: 767px) {
  .testimonial-content-wrapper {
    left: 0;
  }
}

.single-testimonial {
  background-color: #fff;
  padding: 40px 30px 50px;
  border-radius: 50px;
}
.single-testimonial .testimonial-text .text {
  font-size: 24px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  line-height: 36px;
  color: #222;
  padding-bottom: 25px;
}
@media (max-width: 767px) {
  .single-testimonial .testimonial-text .text {
    font-size: 18px;
    line-height: 32px;
  }
}
.single-testimonial .testimonial-author {
  border-top: 1px solid #dedede4f;
  padding-top: 50px;
}
.single-testimonial .testimonial-author .author-info .author-image img {
  border-radius: 50%;
}
.single-testimonial .testimonial-author .author-info .author-name {
  padding-left: 30px;
}
.single-testimonial .testimonial-author .author-info .author-name .name {
  font-size: 16px;
  font-weight: 700;
  color: #f14836;
}
.single-testimonial .testimonial-author .author-info .author-name .sub-title {
  font-size: 14px;
  color: #798795;
  margin-top: 5px;
}
@media (max-width: 767px) {
  .single-testimonial .testimonial-author .author-review {
    padding-left: 100px;
    padding-top: 15px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-testimonial .testimonial-author .author-review {
    padding-left: 0;
    padding-top: 15px;
  }
}
.single-testimonial .testimonial-author .author-review .star li {
  display: inline-block;
  font-size: 14px;
  color: #ffa800;
}
.single-testimonial .testimonial-author .author-review .review {
  font-size: 14px;
  color: #222;
  margin-top: 5px;
}

.testimonial-active .slick-arrow {
  position: absolute;
  bottom: 0;
  left: -670px;
  font-size: 22px;
  cursor: pointer;
  color: #798795;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.testimonial-active .slick-arrow:hover {
  color: #000;
}
.testimonial-active .slick-arrow.next {
  left: -635px;
}

/*===========================
        08.BRAND css 
===========================*/
.brand-wrapper {
  border-top: 1px solid #dedede4f;
}
.brand-wrapper .single-brand {
  float: left;
  width: 20%;
  text-align: center;
}
@media (max-width: 767px) {
  .brand-wrapper .single-brand {
    width: 50%;
  }
}

/*===========================
         09.BL0G css 
===========================*/
.single-blog .blog-image a {
  display: block;
}
.single-blog .blog-image a img {
  width: 100%;
}
.single-blog .blog-content {
  padding-top: 25px;
}
.single-blog .blog-content .blog-title a {
  font-size: 24px;
  font-weight: 600;
  color: #222;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-blog .blog-content .blog-title a {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .single-blog .blog-content .blog-title a {
    font-size: 20px;
  }
}
.single-blog .blog-content .blog-title a:hover {
  color: #f14836;
}
.single-blog .blog-content .blog-author {
  padding-top: 20px;
}
.single-blog .blog-content .blog-author .author-image img {
  width: 65px;
  border-radius: 50%;
}
.single-blog .blog-content .blog-author .author-content {
  padding-left: 20px;
}
.single-blog .blog-content .blog-author .author-content .sub-title {
  font-size: 14px;
  color: #f14836;
  font-weight: 400;
}
.single-blog .blog-content .blog-author .author-content .text {
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}

/*===========================
      10.CONTACT  css 
===========================*/
.contact-map iframe {
  width: 100%;
  height: 550px;
}
@media (max-width: 767px) {
  .contact-map iframe {
    height: 350px;
  }
}

.single-contact-info .contact-info-icon i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-radius: 50%;
}
.single-contact-info .contact-info-content {
  padding-left: 20px;
}
.single-contact-info .contact-info-content .text {
  color: #222;
}
.single-contact-info.contact-color-1 .contact-info-icon i {
  background-color: #222;
}
.single-contact-info.contact-color-2 .contact-info-icon i {
  background-color: #f23559;
}
.single-contact-info.contact-color-3 .contact-info-icon i {
  background-color: #4bb3f9;
}

.contact-wrapper-form .contact-title {
  font-size: 32px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  color: #000;
}
@media (max-width: 767px) {
  .contact-wrapper-form .contact-title {
    font-size: 26px;
  }
}
.contact-wrapper-form .contact-title i {
  color: #f14836;
  margin-right: 8px;
}
.contact-wrapper-form .contact-title span {
  font-weight: 400;
}

.form-message.error,
.form-message.success {
  font-size: 16px;
  color: #222;
  padding: 10px 15px;
  margin-top: 15px;
  background-color: #f7f7fd;
  margin-left: 15px;
}
.form-message.error {
  color: #fc3832;
}

.contact-form label {
  margin-bottom: 25px;
  display: block;
  font-size: 18px;
  color: #222;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  border-radius: 7px;
  background-color: #fff;
  padding: 0 30px;
  height: 65px;
  border: 1px solid #dedede4f;
  color: #222;
  font-size: 18px;
}
.contact-form textarea {
  padding-top: 10px;
  height: 270px;
  resize: none;
}
.contact-form .main-btn {
  border-radius: 5px;
}

/*===========================
       11.FOOTER css 
===========================*/
.footer-about .text {
  padding-top: 25px;
  font-size: 16px;
}

.footer-title .title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  color: #222;
}

.footer-link ul li {
  margin-top: 25px;
}
.footer-link ul li a {
  font-size: 16px;
  color: #798795;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.footer-link ul li a:hover {
  color: #222;
}

.footer-contact .text {
  font-size: 16px;
  padding-top: 15px;
}
.footer-contact .social li {
  display: inline-block;
  margin-right: 26px;
}
.footer-contact .social li:last-child {
  margin-right: 0;
}
.footer-contact .social li a {
  font-size: 26px;
  color: #798795;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.footer-contact .social li a:hover {
  color: #f14836;
}

.footer-copyright {
  padding: 25px;
  border-top: 1px solid #dedede4f;
}
.footer-copyright .text {
  font-size: 16px;
}
.footer-copyright .text a {
  color: #f14836;
}

/*===== BACK TO TOP =====*/
.back-to-top {
  font-size: 20px;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  background-color: #f14836;
  text-align: center;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: none;
}
.back-to-top:hover {
  color: #fff;
  background-color: #f14836;
}

/*===========================
      12.PAGE BANNER css 
===========================*/
.page-banner {
  padding-top: 235px;
  padding-bottom: 135px;
}
@media (max-width: 767px) {
  .page-banner {
    padding-top: 175px;
    padding-bottom: 90px;
  }
}

.page-banner-content .page-title {
  font-size: 60px;
  font-weight: 400;
  color: #000;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .page-banner-content .page-title {
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .page-banner-content .page-title {
    font-size: 28px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .page-banner-content .page-title {
    font-size: 34px;
  }
}
.page-banner-content .page-title b {
  font-weight: 700;
}
.page-banner-content .page-title span {
  font-weight: 700;
  color: #f14836;
  display: contents;
}

/*===========================
    13.BL0G DETAILS  css 
===========================*/
.blog-details-content .details-image img {
  width: 100%;
}
.blog-details-content .details-title {
  font-size: 24px;
  font-weight: 600;
  max-width: 680px;
  margin-top: 45px;
}
@media (max-width: 767px) {
  .blog-details-content .details-title {
    font-size: 20px;
  }
}
.blog-details-content .text {
  margin-top: 35px;
}
.blog-details-content .blockquote {
  padding: 65px 50px;
  background-color: #f14836;
  position: relative;
  border-radius: 5px;
  margin-top: 45px;
  z-index: 5;
}
@media (max-width: 767px) {
  .blog-details-content .blockquote {
    padding: 25px 30px;
  }
}
.blog-details-content .blockquote .quote {
  color: #fff;
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0.15;
  z-index: -1;
}
.blog-details-content .blockquote .text {
  margin-top: 0;
  color: #fff;
  font-size: 32px;
  font-weight: 300;
  font-family: "Nunito", sans-serif;
  line-height: 48px;
  display: block;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog-details-content .blockquote .text {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .blog-details-content .blockquote .text {
    font-size: 20px;
    line-height: 35px;
  }
}
.blog-details-content .blockquote .text i {
  font-size: 16px;
  position: relative;
}
.blog-details-content .blockquote .text i.fa-quote-left {
  top: -16px;
  left: 5px;
}
.blog-details-content .blockquote .text i.fa-quote-right {
  bottom: -6px;
}
.blog-details-content .details-list {
  padding-top: 5px;
  padding-left: 20px;
}
.blog-details-content .details-list li {
  font-size: 16px;
  color: #798795;
  margin-top: 25px;
  list-style: decimal;
}
.blog-details-content .blog-share {
  border-top: 1px solid #dedede4f;
  padding-top: 25px;
  margin-top: 60px;
}
.blog-details-content .blog-share span {
  font-size: 14px;
  font-weight: 700;
  color: #222;
  font-family: "Nunito", sans-serif;
}
.blog-details-content .blog-share .social li {
  display: inline-block;
  margin-left: 10px;
}
.blog-details-content .blog-share .social li a {
  font-size: 16px;
}
.blog-details-content .blog-share .social li a.color-1 {
  color: #45619d;
}
.blog-details-content .blog-share .social li a.color-2 {
  color: #42c0fb;
}
.blog-details-content .blog-share .social li a.color-3 {
  color: #e1306c;
}
.blog-details-content .blog-share .social li a.color-4 {
  color: #0077b5;
}

.single-comment-items {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .single-comment-items .comment-author {
    padding-left: 100px;
    padding-bottom: 18px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-comment-items .comment-author {
    padding-left: 0;
    padding-bottom: 0;
  }
}
.single-comment-items .comment-author img {
  width: 80px;
  border-radius: 50%;
}
.single-comment-items .comment-content {
  background-color: #f6f6f6;
  padding: 25px 60px;
  margin-left: 20px;
  position: relative;
}
@media (max-width: 767px) {
  .single-comment-items .comment-content {
    margin-left: 0;
    padding: 25px 25px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-comment-items .comment-content {
    margin-left: 20px;
  }
}
.single-comment-items .comment-content::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 100px solid #f6f6f6;
  border-left: 100px solid transparent;
  top: 0;
  left: -100px;
}
@media (max-width: 767px) {
  .single-comment-items .comment-content::before {
    border-top: 0;
    border-left: 0;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #f6f6f6;
    left: 0;
    top: -100px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-comment-items .comment-content::before {
    position: absolute;
    border-top: 100px solid #f6f6f6;
    border-left: 100px solid transparent;
    border-right: 0;
    border-bottom: 0;
    top: 0;
    left: -100px;
  }
}
.single-comment-items .comment-content .comment-name {
  font-size: 16px;
  font-weight: 700;
}
.single-comment-items .comment-content .text {
  padding-top: 20px;
  padding-bottom: 20px;
}
.single-comment-items .comment-content a {
  font-size: 16px;
  color: #a4a4a4;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  margin-right: 20px;
  margin-top: 10px;
}
.single-comment-items .comment-content a i {
  margin-right: 8px;
}
.single-comment-items .comment-content a:hover {
  color: #f14836;
}

.comment-reply {
  padding-left: 100px;
}
@media (max-width: 767px) {
  .comment-reply {
    padding-left: 0;
  }
}

.blog-details-comment-form .comment-form-title {
  font-size: 32px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  color: #000;
}
@media (max-width: 767px) {
  .blog-details-comment-form .comment-form-title {
    font-size: 26px;
  }
}
.blog-details-comment-form .comment-form-title i {
  color: #f14836;
  margin-right: 8px;
}
.blog-details-comment-form .comment-form-title span {
  font-weight: 400;
}

.comment-form label {
  margin-bottom: 25px;
  display: block;
  font-size: 18px;
  color: #222;
}
.comment-form input,
.comment-form textarea {
  width: 100%;
  border-radius: 7px;
  background-color: #fff;
  padding: 0 30px;
  height: 65px;
  border: 1px solid #dedede4f;
  color: #222;
  font-size: 18px;
}
.comment-form textarea {
  padding-top: 10px;
  height: 270px;
  resize: none;
}

.blog-category {
  border: 1px solid #dedede4f;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.blog-category .category-title {
  border: 1px solid #dedede4f;
  padding: 15px 30px;
}
.blog-category .category-title .title {
  font-size: 18px;
  font-weight: 500;
  color: #222;
}
.blog-category .category-title .title i {
  color: #f14836;
  margin-right: 5px;
}
.blog-category .category-list {
  padding: 5px 30px 30px;
}
.blog-category .category-list ul li {
  margin-top: 20px;
}
.blog-category .category-list ul li a {
  font-size: 14px;
  color: #798795;
  display: block;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.blog-category .category-list ul li a:hover {
  color: #f14836;
}
.blog-category .category-list ul li a i {
  float: right;
  margin-top: 5px;
}
.blog-category .category-more {
  padding: 15px 30px;
  border-top: 1px solid #dedede4f;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.blog-category .category-more a {
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  color: #222;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.blog-category .category-more a:hover {
  color: #f14836;
}
.blog-category .category-more a i {
  color: #f14836;
  margin-right: 5px;
}

.blog-sidebar-wrapper {
  border: 1px solid #dedede4f;
}
.blog-sidebar-wrapper .sidebar-title {
  padding: 15px 30px;
  border-bottom: 1px solid #dedede4f;
}
.blog-sidebar-wrapper .sidebar-title .title {
  font-size: 18px;
  font-weight: 500;
}

.blog-tag .tag-list {
  padding: 20px 30px 30px;
  border-bottom: 1px solid #dedede4f;
}
.blog-tag .tag-list a {
  padding: 0 10px;
  line-height: 30px;
  border-bottom: 1px solid #dedede4f;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  color: #798795;
  font-size: 14px;
  margin-top: 10px;
}
.blog-tag .tag-list a:hover {
  background-color: #f14836;
  color: #fff;
  border-color: #798795;
}

.blog-project .project-list {
  padding: 20px 30px 30px;
  border-bottom: 1px solid #dedede4f;
}
.blog-project .project-list ul li a {
  color: #798795;
  font-size: 14px;
  margin-top: 10px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: block;
}
.blog-project .project-list ul li a:hover {
  color: #f14836;
}
.blog-project .project-list ul li a span {
  float: right;
}

.blog-ratting .ratting-list {
  padding: 20px 30px 30px;
}
.blog-ratting .ratting-list ul li a {
  color: #798795;
  font-size: 14px;
  margin-top: 10px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: block;
}
.blog-ratting .ratting-list ul li a:hover {
  color: #f14836;
}
.blog-ratting .ratting-list ul li a span {
  float: right;
}

/*# sourceMappingURL=style.css.map */
#gtco-our-team .team-item {
  margin-bottom: 9em;
}

.gtco-team-reverse .img-shadow,
.gtco-team .img-shadow {
  position: relative;
  background: #f14836;
  width: 100%;
  float: left;
  margin-bottom: 30px;
}
.gtco-team-reverse .img-shadow img,
.gtco-team .img-shadow img {
  position: relative;
  top: -20px;
  right: -20px;
}
.gtco-team .img-shadow img {
  top: -20px;
  left: -20px;
}

/**********************************/
/*     13. Project Lightboxes     */
/**********************************/
.lightbox-basic {
  position: relative;
  max-width: 62.5rem;
  margin: 2.5rem auto;
  padding: 1.5625rem;
  border-radius: 0.25rem;
  background: #fff;
  text-align: left;
}

.lightbox-basic img {
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  border-radius: 0.25rem;
}

.lightbox-basic .line-heading {
  width: 3rem;
  height: 1px;
  margin-top: 0;
  margin-bottom: 0.625rem;
  margin-left: 0;
  border: none;
  background-color: #14bf98;
}

.lightbox-basic h6 {
  margin-bottom: 2rem;
}

.lightbox-basic .testimonial-container {
  margin-top: 1.75rem;
  margin-bottom: 2.125rem;
  padding: 1.125rem 1.5rem 1.125rem 1.5rem;
  border-radius: 0.25rem;
  background-color: #fbfbfb;
}

.lightbox-basic .testimonial-text {
  margin-bottom: 0.5rem;
}

.lightbox-basic .testimonial-author {
  margin-bottom: 0;
}

.lightbox-basic .btn-solid-reg,
.lightbox-basic .btn-outline-reg {
  margin-right: 0.375rem;
  margin-bottom: 1rem;
}

.lightbox-basic a.mfp-close.as-button {
  position: relative;
  width: auto;
  height: auto;
  margin-right: 0.5rem;
  color: #484a46;
  opacity: 1;
}

.lightbox-basic a.mfp-close.as-button:hover {
  color: #f2f2f2;
}

.lightbox-basic button.mfp-close.x-button {
  position: absolute;
  top: -0.375rem;
  right: -0.375rem;
  width: 2.75rem;
  height: 2.75rem;
}
